<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/booksubject.css">
</head>
<body>
    <nav>
        <div id="navbar">
            <div id="logo_1">
                <h1><a href="#"> Book Lover</a></h1>
                <h3><a href="#">world of book</a></h3>

            </div>
            <div id="logo_2">
                <h2> <a href="#"> Books</a></h2>
                <h2><a href="#">Text Books </a></h2>
                <h2> <a href="#">Note Books</a></h2>
                <h2> <a href="#"> Audio Books</h2></a></h2>
                <h2> <a href="#">Magazines</a></h2>
                <h2> <a href="#">kids</a></h2>
            </div>

        </div>
    </nav>

    <div class="home">
        <div class="left">
            <h1>You are looking at </h1>
            <div class="art">
                <h1>In Art.History & Criticis</h1>
                <h2>African Art</h2>
                <h2>Ancient Art</h2>
                <h2>Art by Subjects</h2>
                <h2>Art of the Americas</h2>
                <h2>Art Styles & Periods</h2>
                <h2>Asian Art</h2>
                <h2>European Art</h2>
                <h2>General &</h3>
                <h2>Miscellaneous Art</h2>
                <h2>Religion & Art</h2>
                <h2>Renaissance Art</h2>
                <h2>Types of Art</h2>
            </div>
            <div class="price">
                <h1>Price Range</h1>
                <h2>Discounted</h2>
                <h2>Under $10</h2>
                <h2>$25 - $25</h2>
                <h2>$25 - $50</h2>
                <h2>Over $50</h2>
            </div>
<div class="format">
    <h1>Hardcover</h1>
    <h2>Paperback</h2>
    <h2>Nook Book</h2>
    <h2>Large Print</h2>
</div>

        </div>
        <div class="right">
            <div class="div1" style="width: 100%; display: flex; align-items: center; justify-content: center;">Books</div>
                <div class="books" style="display: flex; gap: 5vw; ">
                    <div class="Image">
                        <div class="card">
                            <div class="image">
                                <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                                    alt="">

                                <p>Lorem ipsum dolor o,
                                    voluptate labore nobis obcaecati incidunt.</p>
                                <h3>by<a href="#"> helloo </a></h3>
                                <button><a href="#">$99</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="text" style="margin-top: 1vw;">
                        <h1>Elementum Nec Risus</h1>
                        <h4 style="margin-bottom: 1vw; margin-top: 1vw;">by <a href="#">Richard Gott</a></h4>
                        <p style="margin-bottom: 3vw;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores suscipit nisi nemo sequi ratione?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum similique saepe, expedita hic perferendis quod, enim, veniam vitae incidunt nesciunt inventore eveniet vero commodi assumenda dolore. Voluptatem, illo. Quod asperiores dolor distinctio voluptatum dicta ex inventore commodi impedit accusantium. Voluptatum, unde aliquid illo tempore voluptatibus eligendi. Quasi nemo a minima dicta expedita sunt quaerat rerum vitae in. Voluptatibus hic dolore odio id provident quidem laboriosam? Animi dolores eius pariatur iusto harum? Iusto nisi fuga ipsam neque iure praesentium, perferendis itaque!</p>
                        <button id="rzp-button1" style="padding-left: 1vw; padding-right: 1vw;padding-top: 0.5vw; padding-bottom: 0.5vw; margin-top: 1.5vw;  border-radius: 10px;"><a href="#" style="font-size: 1.4vw; text-decoration: none; font-weight: 700; ">Buy now</a></button>
                   
                    </div>
                </div>
                
            <div class="nav">
                <h1 class="divider"> Books & Subject</h1>
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                   
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
            <h1 class="div"> Best of the Month</h1>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
        </div>
        
    </div>
    <div class="footer">
        
         
        <div class="allfooter">
 
            <div class="footer_1">
              
                    <h1>Books</h1>
                    <h2>Browse Our Shelves</h2>
                    <h2>New Arrivals</h2>
                    <h2>Best sellers</h2>
                    <h2>Kids</h2>
                    <h2>Books Prints Heres</h2>
                    <h2>Bargain Books</h2>
                    <h2>Used Books</h2>

            </div>
            <div class="footer_2">
              
                    <h1>Recommendations</h1>
                    <h2>Featured Titles</h2>
                    <h2>Staff Recommended</h2>
                    <h2>Author Recommended</h2>
                    <h2>Top 100</h2>
                    <h2>Awards Winners</h2>
                    
                
            </div>
            <div class="footer_3">
                
                    <h1>Informations</h1>
                    <h2>Contact</h2>
                    <h2>Delivery</h2>
                    <h2>Legal Notice</h2>
                    <h2>Terms and Condition</h2>
                    <h2>About Us</h2>
                    
                
            </div>
            <div class="footer_4">
                
                    <h1>Mailing List</h1>
                    <h2>Vivamus elementum semper</h2>
                    <input id="inp" type="email" name="email" placeholder=" Your email" >
                    
            </div>

        </div>
    </div>
 

    <!-- Razer pay -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  
    <script>
      var orderId;
      $(document).ready(function () {
        var settings = {
          "url": "/create/orderId",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({
            "amount": "50000"
  
          }),
        };
  
        //creates new orderId everytime
        $.ajax(settings).done(function (response) {
  
          var options = {
            "key": "rzp_test_RG8SmW8Vs3CEfQ", // Enter the Key ID generated from the Dashboard
            "amount": response.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": response.currency,
            "name": "AbhiWorld",
            "description": "its helps human understand",
            "image": "https://i.pinimg.com/564x/16/45/93/164593f47e3b9f9b9459e77468d5e1bc.jpg",
            "order_id": response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
              var settings1 = {
                "url": "/api/payment/verify",
                "method": "POST",
                "timeout": 0,
                "headers": {
                  "Content-Type": "application/json"
                },
                "data": JSON.stringify({response}),
              }
              $.ajax(settings1).done(function(response){
                if(response==true){
                  alert("payment successful");
  
                }else{
                  alert("Payment failed");
                }
              })
            },
            
            "notes": {
              "address": "Razorpay Corporate Office"
            },
            "theme": {
              "color": "#3399cc"
            }
          };
          var rzp1 = new Razorpay(options);
          rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
          });
          document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
          }
        });
      });
    </script>


</body>
</html>