<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/book.css">
</head>
<body>
    <nav>
        <div id="navbar">
            <div id="logo_1">
                <h1><a href="#"> Book Lover</a></h1>
                <h3><a href="#">world of book</a></h3>

            </div>
            <div id="logo_2">
                <h2> <a href="#"> Books</a></h2>
                <h2><a href="#">Text Books </a></h2>
                <h2> <a href="#">Note Books</a></h2>
                <h2> <a href="#"> Audio Books</h2></a></h2>
                <h2> <a href="#">Magazines</a></h2>
                <h2> <a href="#">kids</a></h2>
            </div>

        </div>
    </nav>

    <div class="home">
        <div class="left">
            <h1>You are looking at </h1>
            <div class="art">
                <h1>In Art.History & Criticis</h1>
                <h2>African Art</h2>
                <h2>Ancient Art</h2>
                <h2>Art by Subjects</h2>
                <h2>Art of the Americas</h2>
                <h2>Art Styles & Periods</h2>
                <h2>Asian Art</h2>
                <h2>European Art</h2>
                <h2>General &</h3>
                <h2>Miscellaneous Art</h2>
                <h2>Religion & Art</h2>
                <h2>Renaissance Art</h2>
                <h2>Types of Art</h2>
            </div>
            <div class="price">
                <h1>Price Range</h1>
                <h2>Discounted</h2>
                <h2>Under $10</h2>
                <h2>$25 - $25</h2>
                <h2>$25 - $50</h2>
                <h2>Over $50</h2>
            </div>
<div class="format">
    <h1>Hardcover</h1>
    <h2>Paperback</h2>
    <h2>Nook Book</h2>
    <h2>Large Print</h2>
</div>

        </div>
        <div class="right">
            <div class="nav">
                <h1 class="divider"> Art, Architecture & Photography</h1>
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="/feed/books/booksubject    ">ClickToBuy</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="/feed/books/booksubject">ClickToBuy</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="/feed/books/booksubject">ClickToBuy</a></button>
                    </div>
                </div>
        
    
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
            <div class="allcards">
                <div class="card">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card1">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
                <div class="card2">
                    <div class="image">
                        <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                            alt="">
    
                        <p>Lorem ipsum dolor o,
                            voluptate labore nobis obcaecati incidunt.</p>
                        <h3>by<a href="#"> helloo </a></h3>
                        <button><a href="#">$199000000</a></button>
                    </div>
                </div>
        
    
            </div>
        </div>
        
    </div>
    <div class="footer">
        
         
        <div class="allfooter">
 
            <div class="footer_1">
              
                    <h1>Books</h1>
                    <h2>Browse Our Shelves</h2>
                    <h2>New Arrivals</h2>
                    <h2>Best sellers</h2>
                    <h2>Kids</h2>
                    <h2>Books Prints Heres</h2>
                    <h2>Bargain Books</h2>
                    <h2>Used Books</h2>

            </div>
            <div class="footer_2">
              
                    <h1>Recommendations</h1>
                    <h2>Featured Titles</h2>
                    <h2>Staff Recommended</h2>
                    <h2>Author Recommended</h2>
                    <h2>Top 100</h2>
                    <h2>Awards Winners</h2>
                    
                
            </div>
            <div class="footer_3">
                
                    <h1>Informations</h1>
                    <h2>Contact</h2>
                    <h2>Delivery</h2>
                    <h2>Legal Notice</h2>
                    <h2>Terms and Condition</h2>
                    <h2>About Us</h2>
                    
                
            </div>
            <div class="footer_4">
                
                    <h1>Mailing List</h1>
                    <h2>Vivamus elementum semper</h2>
                    <input id="inp" type="email" name="email" placeholder=" Your email" >
                    
            </div>

        </div>
    </div>
</body>
</html>