<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first page</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div id="navbar">
            <div id="logo_1">
                <h1><a href="https://www.bookswagon.com"> Book Lover</a></h1>
                <h3><a href="#">world of book</a></h3>

            </div>
            <div id="logo_2">
                <h2> <a href="/feed/books"> Books</a></h2>
                <h2><a href="#">Text Books </a></h2>
                <h2> <a href="#">Note Books</a></h2>
                <h2> <a href="#"> Audio Books</h2></a></h2>
                <h2> <a href="#">Magazines</a></h2>
                <h2> <a href="#">kids</a></h2>
                <h2 id="logout" style="border: none; overflow: hidden;" ><a style="text-decoration: none;  color: white;  border-radius: 15px; padding: 0.5vw;" href="#">LogOut</a></h2>
            </div>

        </div>
    </nav>
    <swiper-container class="mySwiper" navigation="true">
        <swiper-slide><img
                src="https://images.unsplash.com/photo-1700683533670-2a9eaf3206dc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""></swiper-slide>
        <swiper-slide><img
                src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""></swiper-slide>
        <swiper-slide><img
                src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""></swiper-slide>
        <swiper-slide><img
                src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""></swiper-slide>
        <swiper-slide><img
                src="https://plus.unsplash.com/premium_photo-1681488394409-5614ef55488c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""></swiper-slide>
        <swiper-slide><img
                src="https://images.unsplash.com/photo-1532012197267-da84d127e765?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""></swiper-slide>

    </swiper-container>
    <div>
        <div class="divider">New Items</div>
        <a id="seemore" href="#">see more<i class="ri-arrow-right-line"></i></a>
    </div>

    <div class="cards">
        <div class="allcards">
            <div class="card">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/61fgiyCfgxL.AC_UL480_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card1">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/710RahtihgL.AC_UL480_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/71HftVaRbyL.AC_UL480_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/71AGdgEqNAL.AC_UL480_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>

        </div>
    </div>
    <div class="cards">
        <div class="allcards">
            <div class="card">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/515TnG3kNxL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card1">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/81oFj8CRhsL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/51HOeGpvdxL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/71Ytm8A3piL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>

        </div>
    </div>
    <div class="cards">
        <div class="allcards">
            <div class="card">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/71QCL-XaRwL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card1">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/51JoXgnIciL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/61go3pwTLYL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/61jCkOVf1oL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>

        </div>
    </div>
    <div class="cards">
        <div class="allcards">
            <div class="card">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/81JJPDNlxSL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card1">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/718wCbSuE9L.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/814RhA2+2GL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/61jBLw5Bq9L.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>

        </div>
    </div>
    <div class="cards">
        <div class="allcards">
            <div class="card">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/810c0x1vahL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card1">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/813ACa1w+fL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/61zQ9AhraGL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>
            <div class="card2">
                <div class="image">
                    <img src="https://m.media-amazon.com/images/I/81krLvciBuL.AC_UY327_FMwebp_QL65.jpg"
                        alt="">

                    <p>Lorem ipsum dolor o,
                        voluptate labore nobis obcaecati incidunt.</p>
                    <h3>by<a href="#"> helloo </a></h3>
                    <button><a href="#">$199000000</a></button>
                </div>
            </div>

        </div>
    </div>
   
    <div class="footer">
        
         
        <div class="allfooter">
 
            <div class="footer_1">
              
                    <h1>Books</h1>
                    <h2>Browse Our Shelves</h2>
                    <h2>New Arrivals</h2>
                    <h2>Best sellers</h2>
                    <h2>Kids</h2>
                    <h2>Books Prints Heres</h2>
                    <h2>Bargain Books</h2>
                    <h2>Used Books</h2>

            </div>
            <div class="footer_2">
              
                    <h1>Recommendations</h1>
                    <h2>Featured Titles</h2>
                    <h2>Staff Recommended</h2>
                    <h2>Author Recommended</h2>
                    <h2>Top 100</h2>
                    <h2>Awards Winners</h2>
                    
                
            </div>
            <div class="footer_3">
                
                    <h1>Informations</h1>
                    <h2>Contact</h2>
                    <h2>Delivery</h2>
                    <h2>Legal Notice</h2>
                    <h2>Terms and Condition</h2>
                    <h2>About Us</h2>
                    
                
            </div>
            <div class="footer_4">
                
                    <h1>Mailing List</h1>
                    <h2>Vivamus elementum semper</h2>
                    <input id="inp" type="email" name="email" placeholder=" Your email" >
                    
            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <!-- <script src="/javascripts/feed.js"></script> -->
</body>

</html>